@model IEnumerable<Videoteka.Models.Pozajmica>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pozajmica</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Film.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kupac.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumPozajmice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumVracanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Napomena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Film.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kupac.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumPozajmice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumVracanja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Napomena)
        </td>
        <td>
            @Html.ActionLink("Izmijeni", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Izbrisi", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
