@model Videoteka.Models.Film

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Izbriši</h2>


<div>
    <h4>Film</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zanr.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zanr.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumUnosa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumUnosa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumIzdanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumIzdanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojNaStanju)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojNaStanju)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojDostupnih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojDostupnih)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-danger" /> 
            <br />
            @Html.ActionLink("Odustani", "Index")
        </div>
    }
</div>
